.img-principal {
  width: 1120px;
  height: 362px;
  background-image: url("imgs/imgIndexPrincipal.jpg");
  margin: 0 auto;
}

img {
  max-width: 272px;
  max-height: 351px;
  border-radius: 6px;
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 60px;
  margin-top: 60px;
  gap: 40px;
}


.main section:hover {
  transform: scale(1, 1.05);
  background-color: #F2811D;
  box-shadow: 3px 3px 3px #D94814;
  transition: 1s;
}

.Grade {
  padding: 30px;
  border-radius: 6px;
  text-align: center;
  font-size: 18px;
  font-weight: 300;
}

.Grade a{
  text-decoration: none;
  color: black;
}
